---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
NamespaceIndentation: None

# Braces
BreakBeforeBraces: Allman

# Line width
ColumnLimit: 120

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Arguments / parameters
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true

# Includes
IncludeBlocks: Preserve
SortIncludes: CaseSensitive

# Pointers / references
PointerAlignment: Right
ReferenceAlignment: Right

# Spaces
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

# Other
AllowShortEnumsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
ReflowComments: true
SpacesBeforeTrailingComments: 1
Standard: c++17
